* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	margin: 50px auto;
	font-weight: 400;
	text-align: center;
}

h1 {
	font-weight: 70px;
}

button.accordion {
	width: 70%;
	background-color: red;
	color: #fff;

	cursor: pointer;
	padding: 18px;

	text-align: left;

	font-size: 18px;

	transition: all 0.3s;
}

button:focus {
	outline: none;
}

button.accordion.active,
button.accordion:hover {
	background-color: #9b0a07;
}

.panel {
	overflow: hidden;
	width: 67.45%;
	margin: 0 auto;

	padding: 0 18px;
	color: #000;

	max-height: 0;

	transition: max-height 0.2s linear;
}

div.panel p {
	text-align: left;
}
